# macOS
.DS_Store
# SwiftPM/Xcode build artifacts
/.build/
DerivedData/
**/.build/
**/DerivedData/
# Xcode user data
**/xcuserdata/
**/*.xcuserstate
# Tuist generated
Tuist/

# Additional local artifacts
*.xcresult
*.log
.swiftpm
study/.DS_Store
study/.gitkeep

# Firebase local configuration
App/iOS/Resources/GoogleService-Info.plist
**/TuistPlists+*.swift
